.grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    height: 100%;
    margin: 0em;
}

.area {
    grid-row-start: 1;
    grid-row-end: 3;
    align-self: center;
    width: 100%;
    height: 100%;
}

.img {
    width: 100%;
    height: 100%;
}