.grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100vw;
    height: 100vh;
    margin: 0em;
}

.area {
    grid-row-start: 1;
    align-self: center;
    grid-row-end: 3;
}